.logo-1{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.navUl {
    background-color: rgb(252, 3, 177);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
    height: 100px;
}
.navnav .nav-link {
    color: white;
    font-weight: 600;
    font-size: 18px;
}
.navnav .nav-link:hover {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 18px;
    transition: 0.3s;
}
body {
    background-color: rgb(0, 0, 0);
}
/* .container-fluid {
    background-color: rgb(255, 6, 130);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(14, 13, 13);
} */