.logo-1{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.navUl {
    background-color: rgb(252, 3, 177);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
    height: 100px;
}
.navnav .nav-link {
    color: white;
    font-weight: 600;
    font-size: 18px;
}
.navnav .nav-link:hover {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 18px;
    transition: 0.3s;
}
body {
    background-color: rgb(0, 0, 0);
}

 .big-col{
    background-color: rgb(75, 62, 62);
    text-align: center;
 }
 .row-1{
    height: 400px;
 }
 .img-1{
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
 }
 .img-01{
    height: 280px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
 }
 /* .img-1:hover{
    cursor: pointer;
    transition: 0.8s;
 } */