.logo-1 {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.navUl {

    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
    height: 100px;
}

.navnav .nav-link {
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.navnav .nav-link:hover {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 22px;
    transition: 0.3s;
}

.btn {
    background-color: rgb(3, 3, 3);
    border-radius: 10px;
    border: 2px solid white;
    color: rgb(255, 254, 254);
}

.btn:hover {
    border-radius: 10px;
    border: 2px solid black;
    color: rgb(16, 16, 16);
    background-color: #ac9ff5;
    transition: 0.5s;
    cursor: pointer;
}

body {
    background-color: #000000;
    /* background: linear-gradient(90deg, rgba(0, 3, 5, 1) 18%, rgba(240, 7, 46, 1) 52%, rgba(56, 102, 242, 1) 97%); */
}

.big-col {
background-color: #2a3b5f;
    text-align: center;
}

.row-1 {
    height: 400px;
}

.img-1 {
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
}

.img-01 {
    height: 280px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
}

.img-01:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 25px rgb(219, 78, 78);
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
}

.header-row {
background-color: #2a3b5f;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);


}

.header-img {
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(248, 244, 244);

}

.header-img:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 25px rgb(243, 177, 177);
    cursor: pointer;
    animation-name: fadeInUp;
    animation-duration: 2s;
}

/* 
.header-img {
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);

}

.header-img:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 25px rgb(233, 116, 116);
    cursor: pointer;
    animation-name: fadeInUp;
    animation-duration: 1s;
} */

.heading-3 {
    color: white;
    font-weight: 600;
}

.heading-3:hover {
    color: rgb(252, 172, 172);
    font-weight: 650;
    transition: 0.3s;
    cursor: pointer;
}

.para-1 {
    color: white;
    font-weight: 400;
}

.para-1:hover {
    color: rgb(252, 172, 172);
    font-weight: 450;
    transition: 0.3s;
    cursor: pointer;
}

/* .middle-row {
    background-color: rgb(75, 62, 62);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
} */
.section-services {
background-color: #2a3b5f;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px rgb(236, 219, 219);
    padding: 30px;

}

.section-services:hover {
    background-color: rgb(37, 35, 35);
    box-shadow: 5px 5px 25px rgb(255, 150, 150);
    cursor: pointer;
    animation-name: zoom-In;
    animation-duration: 2s;
}

.heading3 {
    color: white;
    font-weight: 400;
}

.heading3:hover {
    color: rgb(176, 203, 224);
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
}

.btn-01 {
    background-color: rgb(247, 139, 139);
    border-radius: 10px;
    border: 2px solid white;
    color: black;
    font-size: 30px;

}

.btn-01:hover {
    border-radius: 10px;
    border: 2px solid rgb(253, 171, 171);
    color: #000;
    background-color: #ac9ff5;
    transition: 0.5s;
    cursor: pointer;
}

/* animate__heartBeat */
.btns {
    color: rgb(0, 0, 0);
    font-size: 25px;
    border: 2px solid rgb(247, 1, 1);
    background-color: sandybrown;
    border-radius: 10px;
}

.btns:hover {
    font-size: 28px;
    color: white;
    background-color: rgb(255, 0, 0);
    border: 2px solid white;
    cursor: pointer;
    animation-name: fade-In;
    animation-duration: 1s;
}

.heading4 {
    font-size: 20px;
    color: #fafafa;
}

.heading4:hover {
    font-size: 20px;
    color: #c8f3f3;
    cursor: pointer;
    transition: 0.5s;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.card {
background-color: #2a3b5f;
    border-radius: 10px;
    box-sizing: border-box;
    /* border: 2px solid white; */
    box-shadow: 5px 5px 15px rgb(255, 255, 255);

}

.card:hover {
    background-color: rgb(37, 35, 35);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px rgb(247, 186, 186);
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
}

.card-title {
    color: #ffffff;
}

.head3 {
    color: #ffffff;
}

.card-text {
    color: #ffffff;
}



.footer {
    background-color: rgb(0, 0, 0);
    height: 120px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
}

.footer:hover {
    box-shadow: 5px 5px 15px rgb(255, 167, 167);
}

.footer-para {
    color: #ffffff;
    font-size: 15px;
}

.footer-para:hover {
    color: #faa966;
    cursor: pointer;
    transition: 0.5s;

}

/* animate__fadeIn */